<!DOCTYPE html>
<header>
  <title> This is the homepage </title>
</header>
<body>
  <h1> Welcome to the homepage. I always make one just to make sure that everything is working in the beginning.</h1>
</body>
</html>
