<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
    <p>Team Name: <input name='name' input='text'></p>  
    <p>Coach: <input name='coach' input='text'></p> 
    <p>Point Guard: <input name='pg' input='text'></p> 
    <p>Shooting Guard: <input name='sg' input='text'></p>
    <p>Power Forward: <input name='pf' input='text'></p>
    <p>Small Forward: <input name='sf' input='text'></p>
    <p>Center: <input name='c' input='text'></p>
    <input type='submit' id='Submit'>
   </form>
   
   
 </body>
</html>


