<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <form class="" action="/team" method="post">
 <div>
   <label for="team-name">Team Name:</label>
   <input type="text" name="name" placeholder="Monstars" id="team-name">
 </div>
 <br>
 <div>
   <label for="coach">Coach:</label>
   <input type="text" name="coach" id="coach">
 </div>
 <br>
 <div>
   <label for="point-guard">Point Guard:</label>
   <input type="text" name='pg' id='point-guard'>
 </div>
 <br>
 <div>
   <label for="shooting-guard">Shooting Guard:</label>
   <input type="text" name='sg' id='shooting-guard'>
 </div>
 <br>
 <div>
   <label for="small-forward">Small Forward:</label>
   <input type="text" name='sf' id='small-forward'>
 </div>
 <br>
 <div>
   <label for="power-forward">Power Forward:</label>
   <input type="text" name='pf' id="power-forward">
 </div>
 <br>
 <div>
   <label for="center">Center:</label>
   <input type="text" name='c' id='center'>
 </div>
 <br>
 <div>
   <input type="submit" value="Submit Puny Human" id="submit">
 </div>
</form>
 </body>
</html>


