<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>
    <form method="GET" action= "/newteam">
        <p>Team Name: <input type="text"></p>
        <p>Coach: <input type="text"></p>
        <p>Point Guard: <input type="text"></p>
        <p>Shooting Guard: <input type="text"></p>
        <p>Small Forward: <input type="text"></p>
        <p>Power Forward: <input type="text"></p>
        <p>Center: <input type="text"></p>
        <input id= "Submit" type="submit">
    </form>
 </body>
</html>


