<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form style="display: table-caption;" action="/team" method="POST">
    Team Name: <input name="name" type="text">
    Coach: <input name="coach" type="text">
    Point Guard:  <input name="pg" type="text">
    Shooting Guard: <input name="sg" type="text">
    Small Forward: <input name="sf" type="text">
    Power Forward: <input name="pf" type="text">
    Center: <input name="c" type="text">
    <input id="submit" type="submit" value="Submit">
   </form>
 </body>
</html>
