<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST" id="form">
     <h1>Create a Basketball Team!</h1>
      <p><label for="name">Team name:</label><input id="name" type="text" name="name"></p>
      <p><label for="coach">Coach:</label><input id="coach" type="text" name="coach"></p>
      <p><label for="pg">Point Guard:</label><input id="pg" type="text" name="pg"></p>
      <p><label for="sg">Shooting Guard:</label><input id="sg" type="text" name="sg"></p>
      <p><label for="pf">Power Forward:</label><input id="pf" type="text" name="pf"></p>
      <p><label for="sf">Small Forward:</label><input id="sf" type="text" name="sf"></p>
      <p><label for="c">Center:</label><input id="c" type="text" name="c"></p>
      <p><input type="submit" value="submit" id="Submit"></p>
   </form>
 </body>
</html>


