<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form method="POST" action="/team">
     <p>
         <label for="name">Team Name:</label>
         <input type="text" name="name">
     </p>
     <br>
     <p>
         <label for="coach">Coach:</label>
         <input type="text" name="coach">
     </p>
     <br>
     <p>
         <label for="point">Point Guard:</label>
         <input type="text" name="pg">
     </p>
     <br>
     <p>
         <label for="shooting">Shooting Guard:</label>
         <input type="text" name="sg">
     </p>
     <br>
     <p>
         <label for="small">Small Forward:</label>
         <input type="text" name="sf">
     </p>
     <br>
     <p>
         <label for="power">Power Forward:</label>
         <input type="text" name="pf">
     </p>
     <br>
     <p>
         <label for="center">Center:</label>
         <input type="text" name="c">
     </p>
     <br>
         <input type="submit" id="Submit">
       </form>

 </body>
</html>
