<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Basketball Team Signup!</h1>
  <form action="/team" method="POST">
  Name:<input type="text" name="name">  </input> <br>
  Coach:<input type="text" name="coach">  </input> <br>
  Point Guard:<input type="text" name="pg">  </input> <br>
  Shooting Guard:<input type="text" name="sg" >  </input> <br>
  Small Forward:<input type="text" name="sf">  </input> <br>
  Power Forward:<input type="text" name="pf">  </input> <br>
  Center:<input type="text" name="c">  </input> <br>
   <input id="Submit" TYPE= "submit" >  </input> <br>
</form>
 </head>
 <body>
 </body>
</html>
