<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team! </h1>
   <form action="/team" method="post">
     
     <label for="name">Team Name: </label>
     <input type="text" id="name" name="name">
     <label for="coach">Coach: </label>
     <input type="text" id="coach" name="coach">
     <label for="pg">Point Guard: </label>
     <input type="text" id="pg" name="pg">
     <label for="sg">Shooting Guard:</label> 
     <input type="text" id="sg" name="sg">
     <label for="sf">Small Forward: </label>
     <input type="text" id="sf" name="sf">
     <label for="pf">Power Forward: </label>
     <input type="text" id="pf" name="pf">
     <label for="c">Center: </label>
     <input type="text" id="c" name="c">
     <input id="Submit" type="submit">
   </form>
 </body>
</html>


