<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
  <form method="POST" action="/newteam">
    <p><label for="name">Team Name: <input type="text" id="name" name="name"></label></p>
    <p><label for="coach">Coach: <input type="text" id="coach" name="coach"></label></p>
    <p><label for="pg">Point Guard: <input type="text" id="pg" name="pg"></label></p>
    <p><label for="sg">Shooting Guard: <input type="text" id="sg" name="sg"></label></p>
    <p><label for="pf">Power Forward: <input type="text" id="pf" name="pf"></label></p>
    <p><label for="sf">Small Forward: <input type="text" id="sf" name="sf"></label></p>
    <p><label for="c">Center: <input type="text" id="c" name="c"></label></p>
    <input type="submit" id="Submit">
  </form>
 </body>
</html>
