<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <form method="POST" action="/newteam">
      <input id="name" type="text" name="Team name">
       <input id="coach" type="text" name="Coach">
        <input id="pg" type="text" name="Point Guard">
         <input id="sg" type="text" name="Shooting Guard">
          <input id="sf" type="text" name="Small Forward">
           <input id="pf" type="text" name="Power Forward">
           <input id="c" type="text" name="Center">
      <input type="submit" id="Submit">
 </body>
</html>


