<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form  action="/team" method="POST">

     <input type="text" id="team-name" name="name">

     <input type="text" id="coach" name="coach">

     <input type="text" id="point-guard" name="pg">

     <input type="text" id="shooting-guard" name="sg">

     <input type="text" id="small-forward" name="sf">

     <input type="text" id="power-forward" name="pf">

     <input type="text" id="c" name="center">

     <input type="submit" id="Submit" />

   </form>
 </body>
</html>
