<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
     <form method="POST" action="/team">
     <label for="Team Name:">Team Name:</label>
      <input type="text" name="name"><br><br>
        <label for="Coach:">Coach:</label>
        <input type="text" name="coach"><br><br>
        <label for="Point Guard:">Point Guard:</label>
        <input type="text" name="pg"><br><br>
        <label for="Shooting Guard:">Shooting Guard:</label>
        <input type="text" name="sg"><br><br>
        <label for="Small Forward:">Small Forward:</label>
        <input type="text" name="sf"><br><br>
        <label for="Power Forward:">Power Forward:</label>
        <input type="text" name="pf"><br><br>
        <label for="Center:">Center:</label>
        <input type="text" name="c"><br><br>
      <input id="Submit" type="submit">
    </form>

 </body>
</html>


