<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
    <p><label for="name">Team Name: </label><input type="text" name="name"><br></p>
    <p><label for="coach">Coach: </label><input type="text" name="coach"><br></p>
    <p><label for="pg">Point Guard: </label><input type="text" name="pg"><br></p>
    <p><label for="sg">Shooting Guard: </label><input type="text" name="sg"><br></p>
    <p><label for="sf">Small Forward: </label><input type="text" name="sf"><br></p>
    <p><label for="pf">Power Foward: </label><input type="text" name="pf"><br></p>
    <p><label for="c">Center: </label><input type="text" name="c"><br></p>
    <p><input type="submit" id="Submit"><br></p>
    
  </form>
 </body>
</html>


