<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
  <form>
   <label for="teamName">Team Name:</label>
   <input id="teamName" type="text" name="teamName" />
   <br>
   <br>
   <label for="coach">Coach:</label>
   <input id="coach" type="text" name="coach" />
   <br>
   <br>
   <label for="pointGuard">Point Guard:</label>
   <input id="pointGuard" type="text" name="pointGuard" />
   <br>
   <br>
   <label for="shootingGuard">Shooting Guard:</label>
   <input id="shootingGuard" type="text" name="shootingGuard" />
   <br>
   <br>
   <label for="smallForward">Small Forward:</label>
   <input id="smallForward" type="text" name="smallForward" />
   <br>
   <br>
   <label for="powerForward">Power Forward:</label>
   <input id="powerForward" type="text" name="powerForward" />
   <br>
   <br>
   <label for="Center">Center:</label>
   <input id="Center" type="text" name="Center" />
   <br>
   <br>
   <input id="submit" type="submit" value="submit" />
  </form>
 </head>
 <body>
 </body>
</html>


