<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   
   <form action="/newteam" method="POST">
     
     <label for="team_name">Team Name:</label>
     <input type="text" name="name" id="team_name" />
     <label for="coach_name">Team Name:</label>
     <input type="text" name="coach" id="coach_name" />
     <label for="point_name">Team Name:</label>
     <input type="text" name="pg" id="point_name" />
     <label for="shooting_name">Team Name:</label>
     <input type="text" name="sg" id="shooting_name" />
     <label for="smallfwd_name">Team Name:</label>
     <input type="text" name="sf" id="smallfwd_name" />
     <label for="powerfwd_name">Team Name:</label>
     <input type="text" name="pf" id="powerfwd_name" />
     <label for="center_name">Team Name:</label>
     <input type="text" name="c" id="center_name" />
     
     <input type ="submit" id="Submit" />
   </form>
   
 </body>
</html>


