<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <h1>Create a Basketball Team!</h1>
 <body>
 <form method="POST" action="/team">
  <p>Team Name: <input name="name"></p>
  <p>Coach: <input name="coach"></p>
  <p>Point Guard: <input name="pg"></p>
  <p>Shooting Guard: <input name="sg"></p>
  <p>Small Forward: <input name="sf"></p>
  <p>Power Forward: <input name="pf"></p>
  <p>Center: <input name="c"></p>
  <input type="submit" id="Submit">
 </body>
</html>


