<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team Signup</title>
  </head>
  <body>
    <form action="/team" method="post">
      <input type="text" name="name" id="name" placeholder="name">
      <input type="text" name="coach" id="coach" placeholder="coach">
      <input type="text" name="pg" id="pg" placeholder="pg">
      <input type="text" name="sg" id="sg" placeholder="sg">
      <input type="text" name="pf" id="pf" placeholder="pf">
      <input type="text" name="sf" id="sf" placeholder="sf">
      <input type="text" name="c" id="c" placeholder="c">
      <button type="submit" id="submit">Submit</button>
    </form>
  </body>
</html>
