<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% @team.each do |position, player| %>
    <p><%= position %>: <%= player %></p>
  <% end %>

 </body>
</html>
