<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>

  <h2>Team Name: Brooklyn Nets</h2>
  <form method="POST" action="/newteam">
 </head>
 <body>



 </body>
</html>
